In [1]:
from __future__ import print_function
import pandas as pd
from gspread_pandas import Spread, Client

In [14]:
nCoV_Jan27_9am = Spread('https://docs.google.com/spreadsheets/d/169AP3oaJZSMTquxtrkgFYMSp4gTApLTTWqo25qCpjL0/htmlview?usp=sharing&sle=true#',sheet=1)
nCoV_Jan26_11pm = Spread('https://docs.google.com/spreadsheets/d/169AP3oaJZSMTquxtrkgFYMSp4gTApLTTWqo25qCpjL0/htmlview?usp=sharing&sle=true#',sheet=2)
nCoV_Jan26_11am = Spread('https://docs.google.com/spreadsheets/d/169AP3oaJZSMTquxtrkgFYMSp4gTApLTTWqo25qCpjL0/htmlview?usp=sharing&sle=true#',sheet=3)
nCoV_Jan25_10pm = Spread('https://docs.google.com/spreadsheets/d/169AP3oaJZSMTquxtrkgFYMSp4gTApLTTWqo25qCpjL0/htmlview?usp=sharing&sle=true#',sheet=4)
nCoV_Jan25_12pm = Spread('https://docs.google.com/spreadsheets/d/169AP3oaJZSMTquxtrkgFYMSp4gTApLTTWqo25qCpjL0/htmlview?usp=sharing&sle=true#',sheet=5)
nCoV_Jan25_12am = Spread('https://docs.google.com/spreadsheets/d/169AP3oaJZSMTquxtrkgFYMSp4gTApLTTWqo25qCpjL0/htmlview?usp=sharing&sle=true#',sheet=6)
nCoV_Jan24_12pm = Spread('https://docs.google.com/spreadsheets/d/169AP3oaJZSMTquxtrkgFYMSp4gTApLTTWqo25qCpjL0/htmlview?usp=sharing&sle=true#',sheet=7)
nCoV_Jan24_12am = Spread('https://docs.google.com/spreadsheets/d/169AP3oaJZSMTquxtrkgFYMSp4gTApLTTWqo25qCpjL0/htmlview?usp=sharing&sle=true#',sheet=8)
nCoV_Jan23_12pm = Spread('https://docs.google.com/spreadsheets/d/169AP3oaJZSMTquxtrkgFYMSp4gTApLTTWqo25qCpjL0/htmlview?usp=sharing&sle=true#',sheet=9)
nCoV_Jan22_12pm = Spread('https://docs.google.com/spreadsheets/d/169AP3oaJZSMTquxtrkgFYMSp4gTApLTTWqo25qCpjL0/htmlview?usp=sharing&sle=true#',sheet=10)
nCoV_Jan22_12am = Spread('https://docs.google.com/spreadsheets/d/169AP3oaJZSMTquxtrkgFYMSp4gTApLTTWqo25qCpjL0/htmlview?usp=sharing&sle=true#',sheet=11)

In [16]:
nCoV_Jan27

In [17]:
print(nCoV_Jan27)

<gspread_pandas.spread.Spread - 'User: 'jenniferqian8@gmail.com', Spread: 'Novel Coronavirus (2019-nCoV) Cases, provided by JHU CSSE old', Sheet: 'Jan27_9am''>

In [15]:
nCoV_Jan27_9am_df = nCoV_Jan27_9am.sheet_to_df()
nCoV_Jan26_11pm_df = nCoV_Jan26_11pm.sheet_to_df()
nCoV_Jan26_11am_df = nCoV_Jan26_11am.sheet_to_df()
nCoV_Jan25_10pm_df = nCoV_Jan25_10pm.sheet_to_df()
nCoV_Jan25_12pm_df = nCoV_Jan25_12pm.sheet_to_df()
nCoV_Jan25_12am_df = nCoV_Jan25_12am.sheet_to_df()
nCoV_Jan24_12pm_df = nCoV_Jan24_12pm.sheet_to_df()
nCoV_Jan24_12am_df = nCoV_Jan24_12am.sheet_to_df()
nCoV_Jan23_12pm_df = nCoV_Jan24_12am.sheet_to_df()
nCoV_Jan23_12pm_df = nCoV_Jan24_12am.sheet_to_df()
nCoV_Jan22_12pm_df = nCoV_Jan22_12pm.sheet_to_df()
nCoV_Jan22_12am_df = nCoV_Jan22_12am.sheet_to_df()

In [26]:
nCoV_Jan22_12pm_df = nCoV_Jan22_12pm_df.rename(columns={"Country": "Country/Region", "Date last updated": "Last Update"})

In [28]:
nCoV_Jan22_12am_df = nCoV_Jan22_12am_df.rename(columns={"Country": "Country/Region", "Date last updated": "Last Update"})

In [29]:
Total_columns = [nCoV_Jan27_9am_df, nCoV_Jan26_11pm_df,nCoV_Jan26_11am_df,nCoV_Jan25_10pm_df,nCoV_Jan25_12pm_df,nCoV_Jan25_12am_df,nCoV_Jan24_12pm_df,nCoV_Jan24_12am_df,nCoV_Jan23_12pm_df,nCoV_Jan23_12pm_df,nCoV_Jan22_12pm_df,nCoV_Jan22_12am_df]

Total_nCoV = pd.concat(Total_columns, sort=False)

Total_nCoV

,Country/Region,Last Update,Confirmed,Deaths,Recovered,Suspected
Province/State,,,,,,
Hubei,Mainland China,1/27/2020 9:00,1423,76,45,NaN
Guangdong,Mainland China,1/27/2020 9:00,151,,3,NaN
Zhejiang,Mainland China,1/27/2020 9:00,128,,1,NaN
Henan,Mainland China,1/27/2020 9:00,128,,,NaN
Chongqing,Mainland China,1/27/2020 9:00,110,1,,NaN
...,...,...,...,...,...,...
Heilongjiang,China,1/21/2020,,NaN,NaN,1
,Japan,1/21/2020,1,NaN,NaN,
,Thailand,1/21/2020,2,NaN,NaN,
,South Korea,1/21/2020,1,NaN,NaN,
Washington,United States,1/21/2020,1,NaN,NaN,

In [45]:
Total_nCoV = Total_nCoV.reset_index()

In [77]:
Total_nCoV = Total_nCoV.rename(columns={"Province/State": "Province"}) 
Total_nCoV

,index,Province,Country/Region,Last Update,Confirmed,Deaths,Recovered,Suspected
0,0,Hubei,Mainland China,1/27/2020 9:00,1423,76,45,NaN
1,1,Guangdong,Mainland China,1/27/2020 9:00,151,,3,NaN
2,2,Zhejiang,Mainland China,1/27/2020 9:00,128,,1,NaN
3,3,Henan,Mainland China,1/27/2020 9:00,128,,,NaN
4,4,Chongqing,Mainland China,1/27/2020 9:00,110,1,,NaN
...,...,...,...,...,...,...,...,...
488,488,Heilongjiang,China,1/21/2020,,NaN,NaN,1
489,489,,Japan,1/21/2020,1,NaN,NaN,
490,490,,Thailand,1/21/2020,2,NaN,NaN,
491,491,,South Korea,1/21/2020,1,NaN,NaN,
492,492,Washington,United States,1/21/2020,1,NaN,NaN,

In [78]:
Sort_province = Total_nCoV.sort_values(by=['Province'],ascending=False)
Sort_province

,index,Province,Country/Region,Last Update,Confirmed,Deaths,Recovered,Suspected
462,462,Zhejiang,China,1/22/2020 12:00,10,NaN,NaN,
480,480,Zhejiang,China,1/21/2020,5,NaN,NaN,16
316,316,Zhejiang,Mainland China,1/24/2020 12:00 AM,43,,1,
392,392,Zhejiang,Mainland China,1/24/2020 12:00 AM,43,,1,
50,50,Zhejiang,Mainland China,1/26/2020 23:00,128,,1,
...,...,...,...,...,...,...,...,...
134,134,,Singapore,1/26/2020 11:00 AM,4,,,
133,133,,South Korea,1/26/2020 11:00 AM,3,,,
132,132,,Thailand,1/26/2020 11:00 AM,8,,2,
131,131,,Japan,1/26/2020 11:00 AM,4,,1,
91,91,,Australia,1/26/2020 23:00,4,,,

In [75]:
province_list =Sort_province.Province.unique()
province_list

array(['Zhejiang', 'Yunnan', 'Xinjiang', 'Washington', 'Tibet', 'Tianjin',
       'Taiwan', 'Sichuan', 'Shanxi', 'Shanghai', 'Shandong', 'Shaanxi',
       'Qinghai', 'Ontario', 'Ningxia', 'Macau', 'Liaoning', 'Jilin',
       'Jiangxi', 'Jiangsu', 'Inner Mongolia', 'Illinois', 'Hunan',
       'Hubei', 'Hong Kong', 'Henan', 'Heilongjiang', 'Hebei', 'Hainan',
       'Guizhou', 'Guangxi', 'Guangdong', 'Gansu', 'Fujian', 'Chongqing',
       'Chicago', 'California', 'Beijing', 'Arizona', 'Anhui', ''],
      dtype=object)

In [85]:
province_dfs=[]


for province in province_list:
    province_dfs.append(Sort_province[Sort_province['Province']== province].sort_values(by=['Last Update'],axis=0,ascending=False).copy())

### Load to SQL

In [88]:
from sqlalchemy import create_engine

In [108]:
connection_string = "postgres:postgres@localhost:5432/nCoV_db"

In [109]:
engine=create_engine(f"postgresql://{connection_string}")

In [105]:
province_list[-1] = "Other"
fixed_cols = [column.lower().replace(" ","_") for column in province_dfs[0].columns]

In [110]:
for virus_df,province_name in zip(province_dfs,province_list):
    virus_df.columns = fixed_cols
    virus_df.to_sql(name=province_name.lower().replace(" ","_"),con=engine,if_exists="replace",index=False)